body.software {
  #contentNoSidebar h2 {
    position: sticky;
    top: 0;
    background-color: #272c31;
    margin-bottom: 0;
    font-size: 18px;
    padding: 10px 6px;
    font-weight:bold;
    a {
      color: #FFF;
    }
  }

  table td a {
    color:#FFF;
  }
}